<form class="needs-validation" novalidate>
    <div class="form-row">
      <div class="col-md-4 mb-3">
        <label for="validationTooltip01">Nome</label>
        <input type="text" class="form-control" id="validationTooltip01" placeholder="Nome" value="" required>
        <div class="valid-tooltip">
          Tudo certo!
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationTooltip02">Descrição</label>
        <input type="text" class="form-control" id="validationTooltip02" placeholder="Sobrenome" value="" required>
        <div class="valid-tooltip">
          Tudo certo!
        </div>
      </div>
      <div class="col-md-4 mb-3">
        <label for="validationTooltipUsername">Categoria</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
          </div>
          <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Usuário" aria-describedby="validationTooltipUsernamePrepend" required>
          <div class="invalid-tooltip">
            Por favor, escolha um usuário válido e único.
          </div>
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-6 mb-3">
        <label for="validationTooltip03">Fornecedor</label>
        <input type="text" class="form-control" id="validationTooltip03" placeholder="Cidade" required>
        <div class="invalid-tooltip">
          Por favor, informe uma cidade válida.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip04">Preço</label>
        <input type="text" class="form-control" id="validationTooltip04" placeholder="Estado" required>
        <div class="invalid-tooltip">
          Por favor, informe um estado válido.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">Data Validade</label>
        <input type="text" class="form-control" id="validationTooltip05" placeholder="CEP" required>
        <div class="invalid-tooltip">
          Por favor, informe um CEP válido.
        </div>
      </div>
      <div class="col-md-3 mb-3">
        <label for="validationTooltip05">Data Fabricaçao</label>
        <input type="text" class="form-control" id="validationTooltip05" placeholder="CEP" required>
        <div class="invalid-tooltip">
          Por favor, informe um CEP válido.
        </div>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Adicionar</button>
  </form>



<!-- <label>Nome:</label>
<input type="text" formControlName="Nome"			placeholder="Nome" />

<label>Descrição:</label>
<input type="text" formControlName="Descrição"      placeholder="Descrição" />

<label>Nome:</label>
<input type="date" formControlName="DataValidade"   placeholder="" />

<label>Data de validade:</label>
<input type="date" formControlName="DataFabricacao" placeholder="" />

<label>Preço:</label>
<input type="number" formControlName="Preco"        placeholder="" min="1" step="any" />

<label>Categoria ID:</label>
<input type="number" formControlName="CategoriaID"  placeholder=""   />

<label>Fornecedor ID:</label>
<input type="number" formControlName="FornecedorID" placeholder=""   /> -->