{{ filter }}
<app-search 
    (onTyping)="filter = $event" [value]="filter">
</app-search>

<app-photos 
    [photos]="photos | filterByDescription: filter">
</app-photos>

<app-load-button 
    (click)="load()" 
    [hasMore]="hasMore">
</app-load-button>


<!-- <div class="text-center mt-3 mb-3">
  <form>
      -- event bind --
      <input type="search" class="rounded"
           placeholder="Pesquisar.."
           autofocus
           (keyup)="filter = $event.target.value">
  </form>
</div>

<app-photos [photos]="photos | filterByDescription: filter"></app-photos> -->